# Dependencies
node_modules
.pnp
.pnp.js

# Build
.next
out
dist
.turbo
*.ait

# Testing
coverage
playwright-report
test-results

# Env
.env
.env*.local

# Debug
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
*.pem

# Vercel
.vercel

# Supabase
.branches
.temp

# Storybook
storybook-static

# Expo
.expo
android
ios
